.div-body {
    background-color: #F8F8F8;
    font-family: "Soleil", Arial, sans-serif;
    box-sizing: border-box;
    
}

.logic-container{
    padding: 40px;
    margin-left: 75px;
    margin-right: 40px;
    background-color: #F8F8F8;
    font-family: "Soleil", Arial, sans-serif;
}

.back-link {
    text-decoration: none;
    color: black;
    opacity: 0.5;

}

.back-link:hover {
    color: black;
    opacity: 1;
    transition: opacity 0.8s;
}

.container {
    display: flex;
    width: 100%;
    padding-right: 20px;
    justify-content: center;
}

.content {
    padding:30px 10px;
}

.content>h1 {
    font-size: 65px;
    margin-top: 40px;
}

.content>h2 {
    font-size: 25px;
    padding: 7px 0px;
}

.content>p {
    margin-bottom: 34px;
    margin-top: 30px;
    font-size: 18px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.5);
}

.read-more {
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    outline: none;
    border: 0px;
}

.read-more:hover {
    color: rgb(73, 73, 73);
    opacity: 1;
    transition: opacity 1s;
}

.topic-list {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
}

.card {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 44px 32px;
    border: 2px solid rgba(0, 0, 0, 0.14);
    background: #FFFFFF;
}

.card img {
    src: url("https://ds055uzetaobb.cloudfront.net/brioche/chapter/logic-HzWHci.png?width=254");
    padding: 20px;
    margin-bottom: 20px;
}

.stats div {
    display: inline-flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 20px;
}

.stats>div>h3 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: normal;
}

.stats>div>p {
    font-size: 30px;
    line-height: 25px;
    color: #000000;
}

.btn-dark {
    background-color: black;
    padding: 10px;
    width: 100%;
    margin-left: -0px;
}

.logic-container {
    display: flex;
}